{% load static %}

<div class="card shadow-sm">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img
        src="{% static 'p1app/images/preview.png' %}"
        alt="Preview"
        style="width: 22px; height: 22px"
      />
      <span class="fw-semibold ms-2 text-primary">Preview</span>
    </div>

    <button id="copy-preview" class="btn btn-outline-primary btn-sm">
      Copy
    </button>
  </div>

  <div class="card-body small" id="preview-content">
    <h6 class="fw-semibold mb-3 text-primary">
      Work Updates for
      <span id="preview-date-title"></span>
    </h6>

    <p class="mb-2">Dear Team,</p>

    <p>
      Following are the updates as on:
      <strong> <span id="preview-date-text"></span> </strong>
    </p>

    <div class="alert alert-secondary py-2">
      <strong>#Project 1:</strong>
      <span id="preview-project-name">Select a project</span>

      <p
        id="task-heading"
        class="mt-3 mb-1 ps-0 fw-semibold"
        style="display: none"
      >
        List of completed tasks:
      </p>

      <ol id="preview-task-list" class="ps-3 mb-3"></ol>
      <div id="preview-notes-wrapper" style="display: none">
        <p class="mb-1 fw-semibold">Notes:</p>
        <p id="preview-notes" class="mb-0"></p>
      </div>
    </div>

    <p class="mb-0">
      Best Regards,<br />
      <strong> Mihir Chauhan</strong>
    </p>
  </div>
</div>
<div class="card mt-4" style="background-color: #e6f2fb">
  <div class="card-header fw-semibold d-flex align-items-center text-primary">
    <img
      src="{% static 'p1app/images/information-button.png' %}"
      width="18"
      class="me-2"
      alt="info"
    />
    Important Notes
  </div>
  <ul class="list-group list-group-flush small px-5 gap-2 mt-4 mb-5">
    <li>Include specific tasks completed with time spent.</li>
    <li>Note any blockers or challenges encountered.</li>
    <li>Mention collaboration with team members.</li>
    <li>Add plans for the next work period.</li>
    <li>Managed time effectively to balance multiple tasks and deadlines.</li>
  </ul>
</div>
